kq
inherit
pthreads
var
memset
memcmp
variadic
inet_conv
fs
cp
server-socket
client-socket
signals
select
test.txt
socket-options
resolv
array
unix-domain
*.dSYM/
*.swp
*.o
fioclex
rev
strings
macro
function-pointer
pthread-mutex
pthread-sema
pthread-sigwait
sigaction
sigset
ctor
ctor-static
libctor.a
